
@{
    ViewBag.Title = "Index";
}

<h2>Game, Index</h2>

<div id="game" ng-app="Game" ng-controller="GameController" ng-init="initRendering()">
    <div id="menu">
        <button ng-click="">test</button>
        <br />
        <input type="range" min="-100" max="100" step="0.25" ng-model="depth" ng-change="updatePosZ()" /><input type="number" ng-model="depth" step="0.25" ng-change="updatePosZ()" />
        <br />
        <input type="number" ng-model="camSpeed" ng-change="updateCamSpeed()" min="0.01" />
    </div>

    <div id="build-menu">
        <h3>Build</h3>


    </div>

    <div id="game-view">
        
    </div>

    <form method="post" enctype="multipart/form-data">
    <div>
        <input type="file" id="files" name="file" multiple>
    </div>
    <div>
        <button ng-click="loadFiles()">Load</button>
    </div>
    </form>
</div>