
@{
    ViewBag.Title = "Index";
}

@*<h2>Game, Index</h2>*@

<div id="game" ng-app="Game" ng-controller="GameController" ng-init="initRendering()">
    <div id="top-menu">
        <button ng-click="createActor()">Actor</button>

        <form method="post" enctype="multipart/form-data">
            <input type="file" id="files" name="file" multiple>
            <button ng-click="loadFiles()">Load</button>
        </form>

    </div>
    <div class="main-container">

        <div id="build-menu" class="sidebyside">
            <h3>Build</h3>

        </div>


        <div id="views">
            <div id="top-row">
                <div id="view-left" class="views"></div><div id="view-right" class="views"></div>
            </div>

            <div id="game-view" class="views"></div>
        </div>

        <div id="object-view">
            <div id="object-display" ng-show="activeObject">
                <h4>Object</h4>
                <input id="object-name" type="text" ng-change="setName()" ng-model="objname" />
                <br />
                <text id="object-mesh"></text>
                <br />
                <text id="object-material"></text>
                <hr />
                <div id="object-display-properties">
                    <h5>Properties</h5>
                    <br />
                                         
                    <div ng-repeat="property in Target.userData.properties track by $index">{{recreateProperty(property)}}</div>
                    
                    
                </div>
            </div>            
        </div>
    </div>
    
    
</div>